<div class="row">
    <div style="width:165px; background-color:rgb(40, 0, 0)">
        <img style="display : block; margin:auto;" src="/assets/RCSwiss_128.png" />
    </div>
    <div class="flex" style="background-color:rgb(140, 80, 80)">
        <h1>{{title}}</h1>
    </div>
</div>
<div class="row" style="background-color:rgb(143,143,143); height:5px;">

</div>
<div class="row">
    <!-- Nav Menu -->
    <div style="width:165px; background-color:black">
        <div class="column" style="width:165px;height:100%; ">
            <div class=row>
                <div style="margin-left:30px;width:5px;background-color:rgb(140, 80, 80); height:15px"></div>
                <div style="width:95px;background-color:rgb(40, 0, 0)"></div>
                <div style="width:5px;background-color:rgb(140, 80, 80); height:15px"></div>
            </div>
            <div class=row>
                <nav><a routerLink="/home" routerLinkActive="active" style="margin: 0px 20px; width:105px;">Home</a></nav>
            </div>
            <div class=row>
                <div style="margin-left:30px;width:5px;background-color:rgb(140, 80, 80); height:15px"></div>
                <div style="width:95px;background-color:rgb(40, 0, 0)"></div>
                <div style="width:5px;background-color:rgb(140, 80, 80); height:15px"></div>
            </div>
            <div class=row>
                <nav><a routerLink="/admin" routerLinkActive="active" style="margin: 0px 20px; width:105px;">Admin</a></nav>
            </div>
            <div class=row>
                <div style="margin-left:30px;width:5px;background-color:rgb(140, 80, 80); height:15px"></div>
                <div style="width:95px;background-color:rgb(40, 0, 0)"></div>
                <div style="width:5px;background-color:rgb(140, 80, 80); height:15px"></div>
            </div>
            <div class=row>
                <nav><a routerLink="/events" routerLinkActive="active" style="margin: 0px 20px; width:105px;">Events</a></nav>
            </div>
            <div class=row>
                <div style="margin-left:30px;width:5px;background-color:rgb(140, 80, 80); height:15px"></div>
                <div style="width:95px;background-color:rgb(40, 0, 0)"></div>
                <div style="width:5px;background-color:rgb(140, 80, 80); height:15px"></div>
            </div>
            <div class=row>
                <nav><a routerLink="/event" routerLinkActive="inactive" style="margin: 0px 20px; width:105px;">New Event</a></nav>
            </div>
            <div class=row>
                <div style="margin-left:30px;width:5px;background-color:rgb(140, 80, 80); height:15px"></div>
                <div style="width:95px;background-color:rgb(40, 0, 0)"></div>
                <div style="width:5px;background-color:rgb(140, 80, 80); height:15px"></div>
            </div>
            <div class=row>
                <nav><a routerLink="/Sync" routerLinkActive="active" style="margin: 0px 20px; width:105px;">Online Sync</a></nav>
            </div>
            <div class=row>
                <div style="margin-left:30px;width:5px;background-color:rgb(140, 80, 80);"></div>
                <div style="width:95px;background-color:rgb(40, 0, 0)"></div>
                <div style="width:5px;background-color:rgb(140, 80, 80); height:50px"></div>
            </div>

            <div class=row>
                <img src="/assets/RingDev.png" style="margin:auto;" />
            </div>
        </div>
    </div>
    <!-- end nav menu-->

    <div class="flex" style="background-color:rgb(250, 230, 230)">
        <router-outlet></router-outlet>
    </div>
</div>